// $visual-grid: true;

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";


body {
  font-family: 'Helvetica Neue', Helvetica;
  margin: 1em auto;
  padding: 0 1em;  
  background: url('/assets/images/noisy-bg.png');

}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;

  @include placeholder {
    color: #ccc;
  }
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
}

thead th {
  font-weight: bold;
  vertical-align: bottom;
}

tbody > tr:nth-child(odd) > td,
tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

tbody tr:hover > td,
tbody tr:hover > th {
  background-color: #f5f5f5;
}

table td,
table th {
  display: table-cell;
  float: none;
  margin-left: 0;
  padding: 4px 5px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

ul {
  padding-left: 0;
  list-style: none;
}

div#container {
  @include outer-container;
}


header.main,
article.main,
footer.main {
  @include span-columns(12);
}

article.main {
  @include span-columns(6);
  @include shift(3);

  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  position: relative;

  @include media($tablet) {
    @include span-columns(6);
    @include shift(1);
  }

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}

.home.index {
  article.main {
    @include span-columns(12);
    @include shift(0);
  }
}

